{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="max-h-[calc(100vh-168px)] min-h-[calc(100vh-204px)] sm:min-h-[calc(100vh-168px)] h-full lg:py-0 flex flex-col items-center justify-center px-6 py-8 mx-auto">
    <div class="dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 w-full bg-white rounded-lg shadow">
      <div class="md:space-y-6 sm:p-8 p-6 space-y-4">
        <h1 class="md:text-2xl dark:text-white text-xl font-bold leading-tight tracking-tight text-center text-gray-900">Watchour</h1>
        <form class="md:space-y-6 space-y-4" action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div>
            <label for="email" class="dark:text-white block mb-2 text-sm font-medium text-gray-900">Email</label>
            <input value="{{ email }}" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-color dark:focus:border-primary-color" placeholder="name@company.com" required="" />
          </div>
          <div>
            <label for="password" class="dark:text-white block mb-2 text-sm font-medium text-gray-900">Mật khẩu</label>
            <input value="{{ password }}" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-color dark:focus:border-primary-color" required="" />
          </div>
          <div class="flex items-center justify-between">
            <a href="{% url 'forgotPassword' %}" class="text-primary-600 hover:underline dark:text-gray-300 text-sm font-medium">Quên mật khẩu?</a>
          </div>
          <button type="submit" class="w-full text-white bg-primary-color hover:bg-primary-hover-color focus:ring-4 focus:outline-none focus:ring-primary-hover-color font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-color dark:hover:bg-primary-color dark:focus:ring-primary-hover-color">Đăng nhập</button>
          <p class="dark:text-gray-400 text-sm font-light text-gray-500">
            Bạn chưa có tài khoản?
            <a href="{% url 'register' %}" class="text-primary-600 hover:underline dark:text-white font-medium">Đăng ký</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
