{% load static %}

<header class="dark:bg-gray-900">
  <nav class="border-primary-color">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
      <a href="{% url 'home' %}" class="flex items-center">
        {% load static %}
        <img class="w-[60px] md:w-[80px]" src="{% static './images/logo.png' %}" />
        <span class="whitespace-nowrap text-primary-color dark:text-white md:text-2xl self-center text-lg font-semibold">Watchour</span>
      </a>
      <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
      </button>
      {% comment %} form search {% endcomment %}
      <div class="md:order-last flex items-center gap-4">
        <button type="button" data-collapse-toggle="navbar-dropdown" aria-controls="navbar-dropdown" aria-expanded="false" class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-primary-color dark:focus:ring-primary-color rounded-lg text-sm p-2.5 mr-1">
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Search</span>
        </button>
        <form class="flex items-center gap-4" action="{% url 'search' %}" method="GET">
          <div class="md:block relative hidden">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Search icon</span>
            </div>
            <input type="text" id="search-navbar" class="bg-gray-50 focus:ring-[#f7cc72] focus:border-[#f7cc72] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#f7cc72] dark:focus:border-[#f7cc72] block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg" placeholder="Search..." name="q" value="{{ q }}" />
          </div>

          <!-- Cart -->
          <a href="{% url 'cart' %}" class="">
            <button type="button" class="relative flex w-10 h-10 justify-center items-center text-sm font-medium text-center text-white bg-primary-hover-color rounded-full hover:bg-[#ffe1a1] focus:ring-2 focus:outline-none focus:ring-primary-color dark:bg-gray-hover-color">
              <i class="fa fa-shopping-cart text-2xl"></i>
              <span class="sr-only">Cart</span>
              {% if cart_count > 0 %}
              <div class="-top-2 -right-2 dark:border-gray-900 absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full">{{ cart_count }}</div>
              {% endif %}
            </button>
          </a>
          <!-- User -->
          {% if user.id is None %} {% comment %} button login and sígnin {% endcomment %}
          <div class="md:order-last md:block hidden">
            <a href="{% url 'login' %}" class="text-white bg-gradient-to-r from-primary-hover-color via-red-200 to-primary-color hover:bg-gradient-to-br focus:ring-2 focus:outline-none focus:ring-primary-hover-color dark:focus:ring-primary-color shadow-lg shadow-primary-color/75 dark:shadow-lg dark:shadow-primary-color font-medium rounded-lg text-sm px-5 py-2.5 text-center">Đăng nhập</a>
            {% comment %}
            <a href="{% url 'register' %}" class="text-primary-color hover:from-primary-hover-color hover:via-red-500 hover:to-primary-color hover:bg-gradient-to-br focus:ring-2 focus:outline-none focus:ring-primary-hover-color dark:focus:ring-primary-color hover:shadow-lg hover:shadow-primary-color/75 dark:shadow-lg dark:shadow-primary-color font-medium rounded-lg text-sm px-5 py-2.5 text-center">Đăng ký</a>
            {% endcomment %}
          </div>
          {% else %}
          <div class="md:order-last md:flex items-center hidden">
            <button type="button" class="md:mr-0 focus:ring-2 focus:ring-primary-color dark:focus:ring-primary-color sm:flex order-last hidden text-sm bg-gray-800 rounded-full" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-10 h-10 rounded-full" src="{% static './images/logo.png' %}" alt="user photo" />
            </button>
            <!-- Dropdown menu -->
            <div class="dark:bg-gray-700 dark:divide-gray-600 z-50 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
              <div class="p-2">
                <span class="dark:text-white block text-sm text-gray-900">Chào {{user.first_name}} {{user.last_name}}!</span>
                <span class="dark:text-gray-400 block text-sm text-gray-500 truncate">{{user.email}}</span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                {% comment %} nếu là superadmin thì mới có dòng quản lý sản phẩm {% endcomment %} {% if user.is_superadmin %}
                <li>
                  <a href="{% url 'product_list' %}" class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-pring-primary-color dark:hover:text-white text-gray-color dark:text-gray-400 block px-4 py-2 text-sm">Quản lý sản phẩm</a>
                </li>
                {% endif %}
                <li>
                  <a href="{% url 'dashboard' %}" class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-pring-primary-color dark:hover:text-white text-gray-color dark:text-gray-400 block px-4 py-2 text-sm">Lịch sử đơn hàng</a>
                </li>
                {% comment %}
                <li>
                  <a href="#" class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-pring-primary-color dark:hover:text-white block px-4 py-2 text-sm text-gray-700">Settings</a>
                </li>
                {% endcomment %}
                <li>
                  <a href="{% url 'logout' %}" class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-pring-primary-color dark:hover:text-white dark:text-gray-400 block px-4 py-2 text-sm text-gray-700">Đăng xuất</a>
                </li>
              </ul>
            </div>
          </div>
          {% endif %}
          <button data-collapse-toggle="navbar-dropdown" type="button" class="md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-primary-color dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-primary-color relative inline-flex items-center order-last p-2 text-sm text-gray-500 rounded-lg" aria-controls="navbar-dropdown" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-8 h-8" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </form>
      </div>

      <div class="md:block md:w-auto md:order-1 top-12 right-4 md:relative md:top-0 md:right-0 absolute z-50 hidden w-3/4" id="navbar-dropdown">
        <ul class="md:p-0 bg-gray-50 md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 flex flex-col gap-4 p-3 font-medium border border-gray-100 rounded-lg">
          <li>
            <form class="md:hidden relative" action="{% url 'search' %}" method="GET">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Search icon</span>
              </div>
              <input type="text" id="search-navbar" class="bg-gray-50 focus:ring-[#f7cc72] focus:border-[#f7cc72] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#f7cc72] dark:focus:border-[#f7cc72] block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg" placeholder="Search..." name="q" value="{{ q }}" />
            </form>
          </li>
          {% if user.id is None %}
          <li class="md:hidden">
            <a href="{% url 'login' %}" class="md:hover:bg-transparent md:hover:underline-offset-2 md:text-gray-color md:hover:text-gray-hover-color md:p-0 md:dark:text-primary-color dark:bg-primary-color md:dark:bg-transparent hover:bg-primary-color text-gray-color hover:text-white block py-2 pl-3 pr-4 bg-transparent rounded-lg" aria-current="page">Đăng nhập</a>
          </li>
          <li class="md:hidden">
            <a href="{% url 'register' %}" class="md:hover:bg-transparent md:hover:underline-offset-2 md:text-gray-color md:hover:text-gray-hover-color md:p-0 md:dark:text-primary-color dark:bg-primary-color md:dark:bg-transparent hover:bg-primary-color text-gray-color hover:text-white block py-2 pl-3 pr-4 bg-transparent rounded-lg" aria-current="page">Đăng ký</a>
          </li>
          {% else %}
          <li class="md:hidden flex items-center gap-2 my-2">
            <img class="border-primary-color dark:border-gray-700 w-12 h-12 border-2 rounded-full" src="{% static './images/logo.png' %}" alt="user photo" />
            <div class="flex flex-col">
              <span class="dark:text-white block text-sm text-gray-900">Chào {{user.first_name}} {{user.last_name}}!</span>
              <span class="dark:text-gray-400 block text-sm text-gray-500 truncate">{{user.email}}</span>
            </div>
          </li>
          <li class="md:hidden">
            <a href="{% url 'dashboard' %}" class="md:bg-transparent md:text-gray-color md:hover:text-gray-hover-color md:p-0 md:dark:text-primary-color dark:bg-primary-color md:dark:bg-transparent hover:bg-primary-color text-gray-color hover:text-white dark:text-gray-400 block py-2 pl-3 pr-4 bg-transparent rounded-lg" aria-current="page">Lịch sử đơn hàng</a>
          </li>
          <li class="md:hidden">
            <a href="{% url 'logout' %}" class="md:bg-transparent md:text-gray-color md:hover:text-gray-hover-color md:p-0 md:dark:text-primary-color dark:bg-primary-color md:dark:bg-transparent hover:bg-primary-color text-gray-color hover:text-white block py-2 pl-3 pr-4 bg-transparent rounded-lg" aria-current="page">Đăng xuất</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- header-main .// -->
</header>
<!-- section-header.// -->
